
body{
    font-size:12pt;
    color: #333;
}

p{
  margin-top:0;
  margin-bottom:1.25rem;
  line-height: 1.25rem;
}
ul{
    padding-left:0.75rem;
    li{
        margin-bottom:0.05rem;
    }
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  margin-bottom:1.2rem;
  font-weight:600;
}