/*body{
    background:red;
}*/

.home{
    color:black;
    background:white;
    h1{
        text-transform: uppercase;
        font-weight:800;
        margin-top:0;
        font-size:18pt;
        margin-bottom:.1rem;
    }
    h2{
        font-size:13pt;
        font-family: monospace;
        font-weight:400;
    }

}