.resume{ 
    .download-links{ 
        li{ 
            a{ 
                text-decoration:none;
                padding:0.25rem 0.5rem;
                border-radius:4px;
                &:hover{ 
                    background:#333;
                }
            }
        }
    }
}