@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
}

.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
  align-self: flex-start;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-large {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

@media (min-width: 0) {
  .m-xs-0 {
    margin: 0 !important;
  }
  .mt-xs-0 {
    margin-top: 0 !important;
  }
  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
  .ml-xs-0 {
    margin-left: 0 !important;
  }
  .mr-xs-0 {
    margin-right: 0 !important;
  }
  .p-xs-0 {
    padding: 0 !important;
  }
  .pt-xs-0 {
    padding-top: 0 !important;
  }
  .pb-xs-0 {
    padding-bottom: 0 !important;
  }
  .pl-xs-0 {
    padding-left: 0 !important;
  }
  .pr-xs-0 {
    padding-right: 0 !important;
  }
  .m-xs-1 {
    margin: 0.25rem !important;
  }
  .mt-xs-1 {
    margin-top: 0.25rem !important;
  }
  .mb-xs-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xs-1 {
    margin-left: 0.25rem !important;
  }
  .mr-xs-1 {
    margin-right: 0.25rem !important;
  }
  .p-xs-1 {
    padding: 0.25rem !important;
  }
  .pt-xs-1 {
    padding-top: 0.25rem !important;
  }
  .pb-xs-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xs-1 {
    padding-left: 0.25rem !important;
  }
  .pr-xs-1 {
    padding-right: 0.25rem !important;
  }
  .m-xs-2 {
    margin: 0.5rem !important;
  }
  .mt-xs-2 {
    margin-top: 0.5rem !important;
  }
  .mb-xs-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xs-2 {
    margin-left: 0.5rem !important;
  }
  .mr-xs-2 {
    margin-right: 0.5rem !important;
  }
  .p-xs-2 {
    padding: 0.5rem !important;
  }
  .pt-xs-2 {
    padding-top: 0.5rem !important;
  }
  .pb-xs-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xs-2 {
    padding-left: 0.5rem !important;
  }
  .pr-xs-2 {
    padding-right: 0.5rem !important;
  }
  .m-xs-3 {
    margin: 1rem !important;
  }
  .mt-xs-3 {
    margin-top: 1rem !important;
  }
  .mb-xs-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xs-3 {
    margin-left: 1rem !important;
  }
  .mr-xs-3 {
    margin-right: 1rem !important;
  }
  .p-xs-3 {
    padding: 1rem !important;
  }
  .pt-xs-3 {
    padding-top: 1rem !important;
  }
  .pb-xs-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xs-3 {
    padding-left: 1rem !important;
  }
  .pr-xs-3 {
    padding-right: 1rem !important;
  }
  .m-xs-4 {
    margin: 1.5rem !important;
  }
  .mt-xs-4 {
    margin-top: 1.5rem !important;
  }
  .mb-xs-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xs-4 {
    margin-left: 1.5rem !important;
  }
  .mr-xs-4 {
    margin-right: 1.5rem !important;
  }
  .p-xs-4 {
    padding: 1.5rem !important;
  }
  .pt-xs-4 {
    padding-top: 1.5rem !important;
  }
  .pb-xs-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xs-4 {
    padding-left: 1.5rem !important;
  }
  .pr-xs-4 {
    padding-right: 1.5rem !important;
  }
  .m-xs-5 {
    margin: 3rem !important;
  }
  .mt-xs-5 {
    margin-top: 3rem !important;
  }
  .mb-xs-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xs-5 {
    margin-left: 3rem !important;
  }
  .mr-xs-5 {
    margin-right: 3rem !important;
  }
  .p-xs-5 {
    padding: 3rem !important;
  }
  .pt-xs-5 {
    padding-top: 3rem !important;
  }
  .pb-xs-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xs-5 {
    padding-left: 3rem !important;
  }
  .pr-xs-5 {
    padding-right: 3rem !important;
  }
}
@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .ml-sm-0 {
    margin-left: 0 !important;
  }
  .mr-sm-0 {
    margin-right: 0 !important;
  }
  .p-sm-0 {
    padding: 0 !important;
  }
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .pl-sm-0 {
    padding-left: 0 !important;
  }
  .pr-sm-0 {
    padding-right: 0 !important;
  }
  .m-sm-1 {
    margin: 0.25rem !important;
  }
  .mt-sm-1 {
    margin-top: 0.25rem !important;
  }
  .mb-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-sm-1 {
    margin-left: 0.25rem !important;
  }
  .mr-sm-1 {
    margin-right: 0.25rem !important;
  }
  .p-sm-1 {
    padding: 0.25rem !important;
  }
  .pt-sm-1 {
    padding-top: 0.25rem !important;
  }
  .pb-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-sm-1 {
    padding-left: 0.25rem !important;
  }
  .pr-sm-1 {
    padding-right: 0.25rem !important;
  }
  .m-sm-2 {
    margin: 0.5rem !important;
  }
  .mt-sm-2 {
    margin-top: 0.5rem !important;
  }
  .mb-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-sm-2 {
    margin-left: 0.5rem !important;
  }
  .mr-sm-2 {
    margin-right: 0.5rem !important;
  }
  .p-sm-2 {
    padding: 0.5rem !important;
  }
  .pt-sm-2 {
    padding-top: 0.5rem !important;
  }
  .pb-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-sm-2 {
    padding-left: 0.5rem !important;
  }
  .pr-sm-2 {
    padding-right: 0.5rem !important;
  }
  .m-sm-3 {
    margin: 1rem !important;
  }
  .mt-sm-3 {
    margin-top: 1rem !important;
  }
  .mb-sm-3 {
    margin-bottom: 1rem !important;
  }
  .ml-sm-3 {
    margin-left: 1rem !important;
  }
  .mr-sm-3 {
    margin-right: 1rem !important;
  }
  .p-sm-3 {
    padding: 1rem !important;
  }
  .pt-sm-3 {
    padding-top: 1rem !important;
  }
  .pb-sm-3 {
    padding-bottom: 1rem !important;
  }
  .pl-sm-3 {
    padding-left: 1rem !important;
  }
  .pr-sm-3 {
    padding-right: 1rem !important;
  }
  .m-sm-4 {
    margin: 1.5rem !important;
  }
  .mt-sm-4 {
    margin-top: 1.5rem !important;
  }
  .mb-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-sm-4 {
    margin-left: 1.5rem !important;
  }
  .mr-sm-4 {
    margin-right: 1.5rem !important;
  }
  .p-sm-4 {
    padding: 1.5rem !important;
  }
  .pt-sm-4 {
    padding-top: 1.5rem !important;
  }
  .pb-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-sm-4 {
    padding-left: 1.5rem !important;
  }
  .pr-sm-4 {
    padding-right: 1.5rem !important;
  }
  .m-sm-5 {
    margin: 3rem !important;
  }
  .mt-sm-5 {
    margin-top: 3rem !important;
  }
  .mb-sm-5 {
    margin-bottom: 3rem !important;
  }
  .ml-sm-5 {
    margin-left: 3rem !important;
  }
  .mr-sm-5 {
    margin-right: 3rem !important;
  }
  .p-sm-5 {
    padding: 3rem !important;
  }
  .pt-sm-5 {
    padding-top: 3rem !important;
  }
  .pb-sm-5 {
    padding-bottom: 3rem !important;
  }
  .pl-sm-5 {
    padding-left: 3rem !important;
  }
  .pr-sm-5 {
    padding-right: 3rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0 {
    margin-left: 0 !important;
  }
  .mr-md-0 {
    margin-right: 0 !important;
  }
  .p-md-0 {
    padding: 0 !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .pb-md-0 {
    padding-bottom: 0 !important;
  }
  .pl-md-0 {
    padding-left: 0 !important;
  }
  .pr-md-0 {
    padding-right: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .mt-md-1 {
    margin-top: 0.25rem !important;
  }
  .mb-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-md-1 {
    margin-left: 0.25rem !important;
  }
  .mr-md-1 {
    margin-right: 0.25rem !important;
  }
  .p-md-1 {
    padding: 0.25rem !important;
  }
  .pt-md-1 {
    padding-top: 0.25rem !important;
  }
  .pb-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-md-1 {
    padding-left: 0.25rem !important;
  }
  .pr-md-1 {
    padding-right: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .mt-md-2 {
    margin-top: 0.5rem !important;
  }
  .mb-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-md-2 {
    margin-left: 0.5rem !important;
  }
  .mr-md-2 {
    margin-right: 0.5rem !important;
  }
  .p-md-2 {
    padding: 0.5rem !important;
  }
  .pt-md-2 {
    padding-top: 0.5rem !important;
  }
  .pb-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-md-2 {
    padding-left: 0.5rem !important;
  }
  .pr-md-2 {
    padding-right: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .mt-md-3 {
    margin-top: 1rem !important;
  }
  .mb-md-3 {
    margin-bottom: 1rem !important;
  }
  .ml-md-3 {
    margin-left: 1rem !important;
  }
  .mr-md-3 {
    margin-right: 1rem !important;
  }
  .p-md-3 {
    padding: 1rem !important;
  }
  .pt-md-3 {
    padding-top: 1rem !important;
  }
  .pb-md-3 {
    padding-bottom: 1rem !important;
  }
  .pl-md-3 {
    padding-left: 1rem !important;
  }
  .pr-md-3 {
    padding-right: 1rem !important;
  }
  .m-md-4 {
    margin: 1.5rem !important;
  }
  .mt-md-4 {
    margin-top: 1.5rem !important;
  }
  .mb-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-md-4 {
    margin-left: 1.5rem !important;
  }
  .mr-md-4 {
    margin-right: 1.5rem !important;
  }
  .p-md-4 {
    padding: 1.5rem !important;
  }
  .pt-md-4 {
    padding-top: 1.5rem !important;
  }
  .pb-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-md-4 {
    padding-left: 1.5rem !important;
  }
  .pr-md-4 {
    padding-right: 1.5rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mt-md-5 {
    margin-top: 3rem !important;
  }
  .mb-md-5 {
    margin-bottom: 3rem !important;
  }
  .ml-md-5 {
    margin-left: 3rem !important;
  }
  .mr-md-5 {
    margin-right: 3rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .pt-md-5 {
    padding-top: 3rem !important;
  }
  .pb-md-5 {
    padding-bottom: 3rem !important;
  }
  .pl-md-5 {
    padding-left: 3rem !important;
  }
  .pr-md-5 {
    padding-right: 3rem !important;
  }
}
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0 {
    margin-top: 0 !important;
  }
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .ml-lg-0 {
    margin-left: 0 !important;
  }
  .mr-lg-0 {
    margin-right: 0 !important;
  }
  .p-lg-0 {
    padding: 0 !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .pb-lg-0 {
    padding-bottom: 0 !important;
  }
  .pl-lg-0 {
    padding-left: 0 !important;
  }
  .pr-lg-0 {
    padding-right: 0 !important;
  }
  .m-lg-1 {
    margin: 0.25rem !important;
  }
  .mt-lg-1 {
    margin-top: 0.25rem !important;
  }
  .mb-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-lg-1 {
    margin-left: 0.25rem !important;
  }
  .mr-lg-1 {
    margin-right: 0.25rem !important;
  }
  .p-lg-1 {
    padding: 0.25rem !important;
  }
  .pt-lg-1 {
    padding-top: 0.25rem !important;
  }
  .pb-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-lg-1 {
    padding-left: 0.25rem !important;
  }
  .pr-lg-1 {
    padding-right: 0.25rem !important;
  }
  .m-lg-2 {
    margin: 0.5rem !important;
  }
  .mt-lg-2 {
    margin-top: 0.5rem !important;
  }
  .mb-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-lg-2 {
    margin-left: 0.5rem !important;
  }
  .mr-lg-2 {
    margin-right: 0.5rem !important;
  }
  .p-lg-2 {
    padding: 0.5rem !important;
  }
  .pt-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pb-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-lg-2 {
    padding-left: 0.5rem !important;
  }
  .pr-lg-2 {
    padding-right: 0.5rem !important;
  }
  .m-lg-3 {
    margin: 1rem !important;
  }
  .mt-lg-3 {
    margin-top: 1rem !important;
  }
  .mb-lg-3 {
    margin-bottom: 1rem !important;
  }
  .ml-lg-3 {
    margin-left: 1rem !important;
  }
  .mr-lg-3 {
    margin-right: 1rem !important;
  }
  .p-lg-3 {
    padding: 1rem !important;
  }
  .pt-lg-3 {
    padding-top: 1rem !important;
  }
  .pb-lg-3 {
    padding-bottom: 1rem !important;
  }
  .pl-lg-3 {
    padding-left: 1rem !important;
  }
  .pr-lg-3 {
    padding-right: 1rem !important;
  }
  .m-lg-4 {
    margin: 1.5rem !important;
  }
  .mt-lg-4 {
    margin-top: 1.5rem !important;
  }
  .mb-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-lg-4 {
    margin-left: 1.5rem !important;
  }
  .mr-lg-4 {
    margin-right: 1.5rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .pt-lg-4 {
    padding-top: 1.5rem !important;
  }
  .pb-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-4 {
    padding-left: 1.5rem !important;
  }
  .pr-lg-4 {
    padding-right: 1.5rem !important;
  }
  .m-lg-5 {
    margin: 3rem !important;
  }
  .mt-lg-5 {
    margin-top: 3rem !important;
  }
  .mb-lg-5 {
    margin-bottom: 3rem !important;
  }
  .ml-lg-5 {
    margin-left: 3rem !important;
  }
  .mr-lg-5 {
    margin-right: 3rem !important;
  }
  .p-lg-5 {
    padding: 3rem !important;
  }
  .pt-lg-5 {
    padding-top: 3rem !important;
  }
  .pb-lg-5 {
    padding-bottom: 3rem !important;
  }
  .pl-lg-5 {
    padding-left: 3rem !important;
  }
  .pr-lg-5 {
    padding-right: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0 {
    margin-top: 0 !important;
  }
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0 {
    margin-left: 0 !important;
  }
  .mr-xl-0 {
    margin-right: 0 !important;
  }
  .p-xl-0 {
    padding: 0 !important;
  }
  .pt-xl-0 {
    padding-top: 0 !important;
  }
  .pb-xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xl-0 {
    padding-left: 0 !important;
  }
  .pr-xl-0 {
    padding-right: 0 !important;
  }
  .m-xl-1 {
    margin: 0.25rem !important;
  }
  .mt-xl-1 {
    margin-top: 0.25rem !important;
  }
  .mb-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xl-1 {
    margin-left: 0.25rem !important;
  }
  .mr-xl-1 {
    margin-right: 0.25rem !important;
  }
  .p-xl-1 {
    padding: 0.25rem !important;
  }
  .pt-xl-1 {
    padding-top: 0.25rem !important;
  }
  .pb-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xl-1 {
    padding-left: 0.25rem !important;
  }
  .pr-xl-1 {
    padding-right: 0.25rem !important;
  }
  .m-xl-2 {
    margin: 0.5rem !important;
  }
  .mt-xl-2 {
    margin-top: 0.5rem !important;
  }
  .mb-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xl-2 {
    margin-left: 0.5rem !important;
  }
  .mr-xl-2 {
    margin-right: 0.5rem !important;
  }
  .p-xl-2 {
    padding: 0.5rem !important;
  }
  .pt-xl-2 {
    padding-top: 0.5rem !important;
  }
  .pb-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xl-2 {
    padding-left: 0.5rem !important;
  }
  .pr-xl-2 {
    padding-right: 0.5rem !important;
  }
  .m-xl-3 {
    margin: 1rem !important;
  }
  .mt-xl-3 {
    margin-top: 1rem !important;
  }
  .mb-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xl-3 {
    margin-left: 1rem !important;
  }
  .mr-xl-3 {
    margin-right: 1rem !important;
  }
  .p-xl-3 {
    padding: 1rem !important;
  }
  .pt-xl-3 {
    padding-top: 1rem !important;
  }
  .pb-xl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xl-3 {
    padding-left: 1rem !important;
  }
  .pr-xl-3 {
    padding-right: 1rem !important;
  }
  .m-xl-4 {
    margin: 1.5rem !important;
  }
  .mt-xl-4 {
    margin-top: 1.5rem !important;
  }
  .mb-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xl-4 {
    margin-left: 1.5rem !important;
  }
  .mr-xl-4 {
    margin-right: 1.5rem !important;
  }
  .p-xl-4 {
    padding: 1.5rem !important;
  }
  .pt-xl-4 {
    padding-top: 1.5rem !important;
  }
  .pb-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xl-4 {
    padding-left: 1.5rem !important;
  }
  .pr-xl-4 {
    padding-right: 1.5rem !important;
  }
  .m-xl-5 {
    margin: 3rem !important;
  }
  .mt-xl-5 {
    margin-top: 3rem !important;
  }
  .mb-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xl-5 {
    margin-left: 3rem !important;
  }
  .mr-xl-5 {
    margin-right: 3rem !important;
  }
  .p-xl-5 {
    padding: 3rem !important;
  }
  .pt-xl-5 {
    padding-top: 3rem !important;
  }
  .pb-xl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xl-5 {
    padding-left: 3rem !important;
  }
  .pr-xl-5 {
    padding-right: 3rem !important;
  }
}
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

@media (min-width: 0) {
  .d-xs-flex {
    display: flex !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .d-xs-inline {
    display: inline !important;
  }
  .d-xs-inline-block {
    display: inline-block !important;
  }
  .d-xs-none {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
.fs-1 {
  font-size: 1pt;
}

.fs-2 {
  font-size: 2pt;
}

.fs-3 {
  font-size: 3pt;
}

.fs-4 {
  font-size: 4pt;
}

.fs-5 {
  font-size: 5pt;
}

.fs-6 {
  font-size: 6pt;
}

.fs-7 {
  font-size: 7pt;
}

.fs-8 {
  font-size: 8pt;
}

.fs-9 {
  font-size: 9pt;
}

.fs-10 {
  font-size: 10pt;
}

.fs-11 {
  font-size: 11pt;
}

.fs-12 {
  font-size: 12pt;
}

.fs-13 {
  font-size: 13pt;
}

.fs-14 {
  font-size: 14pt;
}

.fs-15 {
  font-size: 15pt;
}

.fs-16 {
  font-size: 16pt;
}

.fs-17 {
  font-size: 17pt;
}

.fs-18 {
  font-size: 18pt;
}

.fs-19 {
  font-size: 19pt;
}

.fs-20 {
  font-size: 20pt;
}

.fs-21 {
  font-size: 21pt;
}

.fs-22 {
  font-size: 22pt;
}

.fs-23 {
  font-size: 23pt;
}

.fs-24 {
  font-size: 24pt;
}

.fs-25 {
  font-size: 25pt;
}

.fs-26 {
  font-size: 26pt;
}

.fs-27 {
  font-size: 27pt;
}

.fs-28 {
  font-size: 28pt;
}

.fs-29 {
  font-size: 29pt;
}

.fs-30 {
  font-size: 30pt;
}

.fs-31 {
  font-size: 31pt;
}

.fs-32 {
  font-size: 32pt;
}

.fs-33 {
  font-size: 33pt;
}

.fs-34 {
  font-size: 34pt;
}

.fs-35 {
  font-size: 35pt;
}

.fs-36 {
  font-size: 36pt;
}

.fs-37 {
  font-size: 37pt;
}

.fs-38 {
  font-size: 38pt;
}

.fs-39 {
  font-size: 39pt;
}

.fs-40 {
  font-size: 40pt;
}

.fs-41 {
  font-size: 41pt;
}

.fs-42 {
  font-size: 42pt;
}

.fs-43 {
  font-size: 43pt;
}

.fs-44 {
  font-size: 44pt;
}

.fs-45 {
  font-size: 45pt;
}

.fs-46 {
  font-size: 46pt;
}

.fs-47 {
  font-size: 47pt;
}

.fs-48 {
  font-size: 48pt;
}

.fs-49 {
  font-size: 49pt;
}

.fs-50 {
  font-size: 50pt;
}

.fs-51 {
  font-size: 51pt;
}

.fs-52 {
  font-size: 52pt;
}

.fs-53 {
  font-size: 53pt;
}

.fs-54 {
  font-size: 54pt;
}

.fs-55 {
  font-size: 55pt;
}

.fs-56 {
  font-size: 56pt;
}

.fs-57 {
  font-size: 57pt;
}

.fs-58 {
  font-size: 58pt;
}

.fs-59 {
  font-size: 59pt;
}

.fs-60 {
  font-size: 60pt;
}

.fs-61 {
  font-size: 61pt;
}

.fs-62 {
  font-size: 62pt;
}

.fs-63 {
  font-size: 63pt;
}

.fs-64 {
  font-size: 64pt;
}

/* Font weights fw-XX*/
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

@media print {
  .d-none-print {
    display: none !important;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.ff-monospace {
  font-family: monospace;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 600;
}

.ff-libre, .ff-baskerville, .ff-libre-baskerville {
  font-family: "Source Sans 3", sans-serif;
}

.ff-source-sans {
  font-family: "Source Sans 3", sans-serif;
}

.color-gray {
  color: #555;
}

.btn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border: 1px solid;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-dark {
  background: #111;
}
.bg-dark h1, .bg-dark h2, .bg-dark h3, .bg-dark p, .bg-dark a {
  color: #fff;
}
.bg-dark .btn {
  color: #fff;
  border: 1px solid #fff;
}
.bg-dark .btn:hover {
  background: #fff;
  color: #000;
}

.bg-light {
  background: #fff;
}
.bg-light h1, .bg-light h2, .bg-light h3, .bg-light p, .bg-light a {
  color: #333;
}
.bg-light .btn {
  background: #333;
  color: #fff;
  border: 1px solid #333;
}
.bg-light .btn:hover {
  background: #555;
  color: #fff;
}

.bg-white {
  background: white;
}

.image-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../assets/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../assets/fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../assets/fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.ff-ibm-plex-sans-100 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-100 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.ff-ibm-plex-sans-200 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-200 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.ff-ibm-plex-sans-300 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ff-ibm-plex-sans-400 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ff-ibm-plex-sans-500 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ff-ibm-plex-sans-600 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ff-ibm-plex-sans-700 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ff-ibm-plex-sans-800 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-800 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.ff-ibm-plex-sans-900 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ff-inter-900 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.ff-monospace-400,
.ff-ibm-plex-mono-400 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ff-monospace-500,
.ff-ibm-plex-mono-500 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ff-monospace-600,
.ff-ibm-plex-mono-600 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

body {
  font-size: 12pt;
  color: #333;
  font-family: "Inter", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
}

strong {
  font-weight: 600;
  line-height: 1.5rem;
}

.ff-monospace {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

a {
  color: #000000;
}

ul {
  list-style: none;
  padding-left: 0rem;
}
ul li {
  margin-bottom: 0.05rem;
  font-size: 1rem;
  /*
  &::before{
      content: '−';
      color: black;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      position:relative;
      margin-left: 0rem;
  }
  */
}

.card {
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
}

.navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.navigation nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.navigation nav .navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.navigation nav .navbar ul {
  list-style: none;
  padding-left: 0rem;
}
.navigation nav .navbar ul li {
  display: inline-block;
  margin-right: 1rem;
}
.navigation nav .navbar ul li a {
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 10pt;
}
.navigation nav .navbar ul li a:hover {
  text-decoration: underline;
}

.page {
  background: white;
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 10pt;
  margin: 0;
}
.page .container {
  /*   & .page{
         //padding:5rem;
     } */
  margin: 0 auto;
  max-width: 720px;
}
.page h1 {
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 24pt;
  text-transform: uppercase;
  line-height: 32pt;
}
.page h2 {
  font-family: "Inter", sans-serif;
  font-size: 15pt;
  text-transform: uppercase;
}
.page ul li {
  font-size: 10pt;
  line-height: 1.5rem;
}

/*body{
    background:red;
}*/
.home {
  color: black;
  background: white;
}
.home h1 {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 0;
  font-size: 18pt;
  margin-bottom: 0.1rem;
}
.home h2 {
  font-size: 13pt;
  font-family: monospace;
  font-weight: 400;
}

.resume .download-links li a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}
.resume .download-links li a:hover {
  background: #333;
}

/*# sourceMappingURL=styles.css.map */
